@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d3d2d261;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 500px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.038);
}
.container-login{
    height: 410px;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.038);
}

.container h1{
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}
.container-login h1{
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.input-box{
    position: relative;
    width: 90%;
    height: 50px;
    margin: 20px auto;
}
.input-box input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.136);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.186);
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.535);
}

.check{
    display: flex;
    justify-content: space-between;
    margin: -2px 0px 20px 20px;
    font-size: 17.4px;
    font-weight: normal;
}
.check label input{
    accent-color: #1c62b7;
}

.button{
    display: block;
    background-color: #1c62b7;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 90%;
    margin: 0 auto 10px auto;
    padding: 5px 0 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.003);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.106);
}

.link{
    text-align: center;
    padding: 10px 0;
}
.link > a{
    text-decoration: none;
    color: black;
}
.link > a:hover{
    color: #1c62b7;
    text-decoration: underline;
}

