*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 100px auto;
    justify-content: center;
}
.box{
    width: 250px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(137, 43, 226, 0.898);
    transition: 0.5s;

}
.box img{
    display: block;
    width: 100%;
    border-radius: 8px;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
    cursor: pointer;
}