header{
    height: 100px;
    #navbar{
        background: linear-gradient(180deg, #f1effd), #e5e1fa;
        border-radius: 24px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        padding: 24px 4%;

        position: fixed;
        width: 92%;
        left: 50%;
        top: 24px; 
        transform: translateX(-50%);

        display: flex;
        justify-content: space-between;

        .logo{
            width: 150px;
            height: auto;
        }

        #nav_list{
            display: flex;
            list-style: none;
            gap: 14px;

            .nav-item{
                .nav-link{
                    text-decoration: none;
                    font-family: 1.15rem;
                    color: #020617;
                    font-weight: 400px;

                    &.active{
                    border-bottom: 1px solid #4f46e5;
                }
                }
                
            }
        }
    }
}

