header{
    height: 100px;
    #navbar{
        background: linear-gradient(180deg, #f1effd), #e5e1fa;
        border-radius: 24px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        padding: 24px 4%;

        position: fixed;
        width: 92%;
        left: 50%;
        top: 24px; 
        transform: translateX(-50%);

        display: flex;
        justify-content: space-between;

        .logo{
            width: 150px;
            height: auto;
        }

        #nav_list{
            display: flex;
            list-style: none;
            gap: 30px;

            .nav-item{
                .nav-link{
                    text-decoration: none;
                    font-family: 1.15rem;
                    color: #020617;
                    font-weight: 400;

                    &.active{
                    border-bottom: 1px solid var(--primary-color-1);
                }
                }
            }
        }

        .login-link{
            text-decoration: none;
            color: #fff;
            background-color: var(--primary-color-1);
            padding: 10px 16px;
            height: fit-content;
            border-radius: 8px;
            font-weight: 500;
            transition-duration: 0.3s;

            &:hover{
                background-color: var(--primary-color-2);
            }
        }
    }
}

