*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
    background: radial-gradient(circle, var(--primary-color-1), var(--primary-color-2));
}

.page-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;

    h2{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1rem;
        color: var(--secondary-color);
    }

    h1{
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
        color: #fff;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        color: #e2e8f0;
        margin-top: 8px;
        max-width: 65%;
        text-align: center;
    }
}
.container{
    background-color: #f1effd;
    border-radius: 32px 32px 0px 0px;
    padding: 32px 8%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    .contacts-container{
        width: 50%;

        h3{
            font-size: 2rem;
            font-weight: 500;
        }

        p{
            font-size: 1rem;
            font-weight: 400;
            color: #010002;
            width: 80%;
        }

        h4{
            font-size: 1.2rem;
            font-weight: 500;
            color: #010002;
            margin-top: 16px;
        }

        .cards-container{
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 80%;
            margin: 24px 0px;

            .contact-card{
                display: flex;
                align-items: center;
                gap: 8px;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                padding: 18px 12px;
                border-radius: 8px;
                text-decoration: none;
                transition: 0.3s;


                &:hover{
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
                }

                .card-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    border-radius: 100%;
                    font-size: 1.2rem;
                }

                .card-infos{
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1rem;
                        color: #010002;
                    }   
                    
                    span{
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: #475569;
                    }
                }

                &.phone{
                    .card-icon{
                        background-color: #FAF5ED;
                        color: #CD9C4B;
                    }
                }

                 &.location{
                    .card-icon{
                        background-color: #DBEAFE;
                        color: #3B82F6;
                    }
                }

                &.email{
                    .card-icon{
                        background-color: #EDE9FE;
                        color: #8B5CF6;
                    }
                }

                &.whatsapp{
                    .card-icon{
                        background-color: #DCFCE7;
                        color: #16A34A;
                    }
                }
            }
        }
        
        .social-media-icons{
            display: flex;
            gap: 12px;
            margin-top: 12px;

            .icon-link{
                height: 40px;
                width: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                color: #ffffff;
                font-size: 1.2rem;
                border-radius: 100%;

                transition: 0.3;

                &.twitter{
                    background-color: #030712;
                    &:hover{
                        background-color: #030712d0;
                    }
                }

                &.facebook{
                    background-color: #2b5998;
                    &:hover{
                        background-color: #2b5998d0;
                    }
                }

                &.linkedin{
                    background-color: #0e76a8;
                    &:hover{
                        background-color: #0e76a8d0;
                    }
                }

                &.instagram{
                    background-color: #dd2a7b;
                    &:hover{
                        background-color: #dd2a7bd0;
                    }
                }
                
            }
        }
    }
    
    .contacts-form-container{
        width: 50%;
        background-color: #ffffff;
        padding: 24px;
        max-width: 800px;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        h3{
            font-size: 1.8rem;
            font-weight: 500;
            color: #010002;
            margin-bottom: 8px;
        }

        .contact-form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;


            .input-group{
                display: flex;
                flex-direction: column;

                label{
                    font-size: 0.9rem;
                    color: #475569;
                    font-weight: 500;
                }

                input, textarea{
                    padding: 12px;
                    border: 1px solid #c7d1dc;
                    border-radius: 8px;
                    font-size: 0.9rem;
                    outline: none;
                    resize: none;

                    &:focus{
                        outline: 1px solid var(--primary-color-1);
                    }
                }
                &:nth-child(3){
                    grid-column: 1 / 3;
                }

                &:nth-child(4){
                    grid-column: 1 / 3;
                }
            }

            button{
                grid-column: 1 / 3;
                padding: 14px 20px;
                background-color: var(--primary-color-1);
                color: #ffffff;
                font-size: 16px;
                font-weight: 600;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    background-color: var(--primary-color-2);
                }
            }
        }
    }
}