body{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}
main{
    min-width: 180px;
    max-width: 700px;
    padding: 20px;
    margin: auto;
}
h1{
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
div{
    display: inline-block;
}
