body{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
main{
    text-align: center;
    margin: auto;
    padding: 50px;
    margin-top: 20px;
    min-width: 160px;
    max-width: 700px;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.04);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
main div{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px -10px 10px -10px;
    padding: 8px;
    position: relative;
}
div > video{
    width: 100%;
}
.playlist{
    color: rgba(255, 255, 255, 0.703);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}
.playlist:hover{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
.playlist:active{
    color: rgba(255, 255, 255, 0.703);
}

.back{
    display: block;
    background-color: rgba(255, 255, 255, 0.703);
    width: 50px;
    text-decoration: none;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.back:hover{
    color: black;
    background-color: white;
}
.back:active{
    background-color: rgba(255, 255, 255, 0.703);
}