:root{
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #144582;
    --clr-background: #505050;
}
*::before, ::after{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background);
    color: var(--clr-dark);
    font-family: verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*gap: 1px;*/
    /*align-content: flex-end;*/
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 5px solid var(--clr-dark);
}
.item{
    width: 8%;
    height: 30px;
    background-color: #7181fb;
    color: var(--clr-light);
    padding: 16px;
    font-weight: bolder;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}
.item-1{
    flex-shrink: 0;
}