body{
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}
.login-container h2{
    margin-bottom: 20px;
    color: #300;
}
.login-container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button{
    width: 150px;
    margin: 10px auto;
    display: block;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

