*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background-image: linear-gradient(45deg, black, crimson);
    color: #fff;
}
h1{
    
}

.calc{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
}
.calc > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 8px;
}
#text{
    height: 40px;
    border: none;
}
#text::placeholder{
    align-items: flex-end;
}
 .botao{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
    border-radius: 10px;
 }