*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 header{
    padding: 30px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.066);
 }

 header img{
    display: block;
    width: 300px;
    margin: auto;
 }

 .container{
    padding: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.066);
 }

 .container-calc{
    height: 350px;
    width: 770px;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
 }
 nav{
    display: flex;
    flex-direction: column;
    padding: 8px;
 }
 .nav-result{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
 }
 nav > button{
    padding: 5px 30px;
    margin-top: 5px;
    border-radius: 20px;
 }
 .result{
    width: 500px;
 }
.result > p{
    background-color: rgba(211, 211, 211, 0.168);
    font-size: 8.9px;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}
.result .resultado{
    font-size: 2.5em;
    padding-top: 5px;
    padding-left: 150px;
    width: 100%;
    text-align: right;
}
 .container-calc .item{
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(5, 35px);
    gap: 5px;
 }

 .itens{
    border: 2px solid black;
 }