:root{
   --cor-botões-nav: #834cff;
   --cor-botões-calc: #dfe3f6;
   --cor-botões-num:#c47205;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    font-family: Arial, Helvetica, sans-serif;
 }

 header{
    padding: 30px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.066);
 }

 header img{
    display: block;
    width: 300px;
    margin: auto;
 }

 .container{
    padding: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.066);
 }

 .container-calc{
    height: 350px;
    width: 760px;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
 }
 nav{
    display: flex;
    flex-direction: column;
    padding: 8px;
 }
 .nav-result{
    display: flex;
    justify-content: space-between;
    padding: 0 0 35px 0;
 }
 nav > button{
    background-color: var(--cor-botões-nav);
    color: #fff;
    padding: 8px 35px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
 }
 nav > button:hover{
    cursor: pointer;
 }
 .result{
    width: 500px;
 }
.result p{
    font-size: 8.9px;
    color: gray;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}
.result .resultado{
    font-size: 2.8em;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: right;
}
 .container-calc .item{
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(5, 35px);
    gap: 4px;
 }

 .itens{
   background-color: var(--cor-botões-calc);
   font-size: 1em;
   border: 2px solid black;
 }
 .itens:hover{
   background-color: #adb5db;
   cursor: pointer;
 }
 .itens-num{
   background-color: var(--cor-botões-num);
 }
 .itens-num:hover{
   background-color: #ff9100;
 }
 .itens-m{
   font-weight: bolder;
 }
 .itens .destaque{
   font-style: italic;
   color: rgb(5, 5, 150);
 }